html {
    position: relative;
    min-height: 100%;
}

i {
    display: block;
}

a:hover {
    text-decoration: underline;
    color: #343a40;
}

.content-wrapper {
    margin-bottom: 115px;
}

.section-wrapper {
    margin-bottom: 10rem;
}

.profile-image {
    height: 200px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.bio {
    width: 75%;
}

.card {
    width: 300px;
    margin: 0 20px 20px 20px;
    border-radius: 15px;
}

.thumbnail iframe {
    width: 100%;
    height: 200px;
    overflow: hidden;
    pointer-events: none;
    border-radius: 15px 15px 0 0;
}

.contact a {
    transition: font-size 0.5s ease;
}

.contact > a:link {
    text-decoration: none;
    color: #000;
}

.contact a:hover {
    font-size: 1.5rem;
}

footer {
    position: absolute;
    height: 115px;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

footer a:hover {
    color: lightgray;
    text-decoration: none;
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
